$main_font_color: white;
$background_color: #f1f0eb;
$black_bg_btn_header: #000;
$blue_background_swipe: #4071cb;
$border_color_gray: #4f4f4f;
$border_color_black: black;
$black_font_color: black;
$border_white_color: white;
$font_color_gray: #4f4f4f;

$main_font_color_mobile: rgb(99, 247, 1);