.main_service {
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background-image: url(../image/pngwing.com\ \(4\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    .main_baner_service_title {
        font-size: 20vw;
        text-align: center;
    }
}