.buyer_conditions {
    display: grid;
    padding: 0 3%;

    .buyer_conditions_title {
        font-weight: 400;
        font-size: 30px;
        line-height: 145%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: $black_font_color;
        margin-bottom: 20px;
    }

    .buyer_conditions_box {
        display: grid;
        grid-template-columns: 1.5fr 0.7fr 0.8fr 0.7fr 1.3fr;
        grid-template-rows: 250px 250px;
        gap: 5px 5px;
        grid-template-areas:
            "buyer_conditions_card1 buyer_conditions_card2 buyer_conditions_card2 buyer_conditions_card2 buyer_conditions_card3"
            "buyer_conditions_card4 buyer_conditions_card4 buyer_conditions_card5 buyer_conditions_card5 buyer_conditions_card5";


        .buyer_conditions_card1 {
            grid-area: buyer_conditions_card1;
            border: 1px solid $border_color_black;
            border-radius: 10px;
            padding: 4%;
        }

        .buyer_conditions_card2 {
            grid-area: buyer_conditions_card2;
            border: 1px solid $border_color_black;
            border-radius: 10px;
            padding: 4%;
        }

        .buyer_conditions_card3 {
            grid-area: buyer_conditions_card3;
            border: 1px solid $border_color_black;
            border-radius: 10px;
            padding: 4%;
        }

        .buyer_conditions_card4 {
            grid-area: buyer_conditions_card4;
            border: 1px solid $border_color_black;
            border-radius: 10px;
            padding: 4%;
        }

        .buyer_conditions_card5 {
            grid-area: buyer_conditions_card5;
            border: 1px solid;
            border-radius: 10px;
            padding: 4%;

            .buyer_conditions_card_nav {
                display: flex;

                .card_nav_btn {
                    border: 1px solid $border_color_gray;
                    @include btn_style (8px, 285px, 45px, center, 400, 14px, 130%);
                    color: $black_font_color;
                    padding: 14px;
                }

            }
        }

        .buyer_conditions_card_num {
            font-weight: 800;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: $black_font_color;
            margin-bottom: 60px;
        }

        .buyer_conditions_card_title {

            font-weight: 700;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: $black_font_color;
            margin-bottom: 10px;
        }

        .buyer_conditions_card_desc {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: $black_font_color;
        }
    }
}