.choose_type {
    display: grid;
    margin-top: 50px;

    .choose_type_title {
        @include font_style(700, 20px, 0.05em, $black_font_color);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
    }

    .choose_type_nav {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 3%;
        gap: 0;

        .choose_type_body:hover {
            .choose_type_body_box {
                display: none;
            }
        }

        .choose_type_body {
            @include btn_style(10px 0px 0px 10px, auto, auto, center, 400, 16px, 130%);
            @extend .choose_type_btn_extend;
            background-color: $blue_background_swipe;

        }

        .choose_type_brand {
            @include btn_style(0px 10px 10px 0px, auto, auto, center, 400, 16px, 130%);
            @extend .choose_type_btn_extend;
            border: 1px solid $border_white_color;
        }
    }

    .choose_type_body_box {
        padding: 3%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .body_type:hover {
            animation:
                animation_name3 1s,
                ease,
                infinite;
            cursor: pointer;
        }

        .body_type {
            .body_type_img {
                width: 100%;
                animation: animation_name3;

                @keyframes animation_name3 {
                    0% {
                        transform: translateY(-1px);
                        transform: translateX(-10px);
                    }

                    100% {
                        transform: translateY(0px);
                        transform: translateX(0);
                    }
                }
            }

            .body_type_desc {
                @include font_style(400, 14px, 0.01em, $blue_background_swipe);
                line-height: 130%;
                text-align: center;
            }
        }
    }

    .choose_type_btn {
        @include btn_style(8px, 240px, auto, center, 400, 14px, 130%);
        border: 1px solid $blue_background_swipe;
        padding: 11px 50px;
        text-align: center;
        justify-self: center;
        letter-spacing: 0.01em;
        color: $blue_background_swipe;
        text-decoration: none !important;
    }
}

@media (max-width: 606px) {
    .choose_type {
        display: grid;
        margin-top: 50px;

        .choose_type_title {
            @include font_style(400, 18px, 0.05em, $black_font_color);
        }

        .choose_type_nav {
            padding: 0;

            .choose_type_body {
                @include btn_style(10px 0px 0px 10px, auto, auto, center, 400, 16px, 130%);
                padding: 20px 5vw;
            }

            .choose_type_brand {
                @include btn_style(0px 10px 10px 0px, auto, auto, center, 400, 16px, 130%);
                padding: 20px 5vw;
            }
        }

        .choose_type_body_box {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}