.hot_deals {
    display: grid;
    margin-top: 50px;
    padding: 0 3%;

    .hot_deals_title {
        font-weight: 400;
        font-size: 30px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: #000;
        text-align: center;
        margin-bottom: 30px;


    }

    .hot_deals_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;

        .hot_deals_card:hover {
            background-color: $main_font_color;

            .hot_deals_card_brand {
                color: $black_font_color;

            }
        }

        .hot_deals_card {
            @extend .hot_deals_card_draft;

        }

    }

}