.main {
    width: 100%;
    height: 100%;
    padding: 5%;
    background-image: url(../image/pngwing.com\ \(5\).png);
    background-position: center;
    background-size: 70%;


    .main_title {
        font-size: 40px;
        font-weight: 600;
        color: $black_font_color;
        text-align: center;
        padding: 3%;
    }

    .servising {
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-bottom: 5%;

        .servising_box {
            width: 45%;
            height: 100%;
            border: 1px solid $black_bg_btn_header;
            margin-bottom: 5%;
            text-align: center;
            border-radius: 30px;
            backdrop-filter: blur(4px);
            background-color: rgba(255, 255, 255, 0.01);

            .servising_box_title {
                font-size: 20px;
                font-weight: 800;
                color: $black_font_color;
                text-align: center;
                padding: 3%;


            }

            .servising_box_desc {
                font-size: 18px;
                font-weight: 700;
                color: $black_font_color;
                text-align: center;


            }

        }
    }



}