.choose_type_body_box {
    .body_type:hover {
        animation: animation_name3 1s, ease, infinite;
        cursor: pointer;
    }

    .body_type {
        .body_type_img {
            animation: animation_name3;

            @keyframes animation_name3 {
                0% {
                    transform: translateY(-1px);
                    transform: translateX(-10px);
                }

                100% {
                    transform: translateY(0px);
                    transform: translateX(0);
                }
            }
        }
    }
}

.hvr:hover {
    color: rgba(255, 0, 0, 0.729) !important;
    cursor: pointer;
    font-weight: 500;
}