.footer_dubl {
    border-top: 1px solid $border_white_color;
    width: 100%;
    display: grid;
    background-image: url(../image/footer/footer.png);
    background-position: center;
    background-size: cover;

    .footer_information {
        display: grid;
        grid-template-columns: 30% 60%;
        gap: 5%;
        padding: 3%;

        .footer_information_nav {
            .footer_information_logo {
                width: 130px;
                height: 52px;
                margin-bottom: 18px;
            }

            .footer_information_desc {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: $black_font_color;
                margin-bottom: 47px;
            }

            .footer_information_nav {
                display: flex;
                align-items: end;
                justify-content: space-between;

                .footer_nav_item a {
                    font-weight: 400;
                    font-size: 12px;
                    color: $black_font_color;
                    text-decoration: none !important;
                    @extend .hvr;
                }
            }
        }

        .footer_contact {
            justify-self: end;

            .footer_contact_text {
                font-weight: 300;
                font-size: 12px;
                color: $black_font_color;
                text-align: start;
                vertical-align: bottom;
            }

            .footer_custom_contact {
                display: flex;
                align-items: center;
                justify-content: start;


                img {
                    margin: 0 10px;
                }

                .footer_contact_number {
                    font-weight: 400;
                    font-size: 14px;
                    color: $black_font_color;
                    margin: 0;
                }


            }

            .footer_contact_addres {
                font-weight: 400;
                font-size: 12px;
                color: #000;
                margin-top: 70px;
            }
        }
    }

    .footer_card_box {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-top: 1px solid $border_white_color;
        padding: 2% 2% 7% 2%;


        .footer_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid $black_font_color;
            padding: 2%;
            border-radius: 7px;
            width: 15vw;
            height: 100px;


            .footer_logo_box {
                display: flex;
                justify-content: space-between;

                .footer_info_logo {
                    height: 14px;
                }
            }

            .footer_card_title {
                text-align: end;
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: $black_font_color;

            }
        }
    }

    .footer_card_payment {
        display: flex;
        justify-content: space-around;
        gap: 5px;
    }

    .footer_card_app {
        display: flex;
        justify-content: start;
        gap: 5px;
    }
}





@media (max-width: 998px) {
    .footer_dubl {
        .footer_information {
            display: grid;
            grid-template-rows: 100px auto;
            grid-template-columns: 1fr;
            gap: 5%;

            .footer_information_nav {
                .footer_information_logo {
                    margin-bottom: 5px;
                }

                .footer_information_desc {
                    margin-bottom: 10px;
                }

                .footer_information_nav {
                    display: none;
                }
            }

            .footer_contact {
                justify-self: start;

                .footer_contact_text {
                    font-size: 14px;
                }

                .footer_custom_contact {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .footer_contact_number {
                        margin: 0;
                    }
                }

                .footer_contact_addres {
                    font-weight: 400;
                    font-size: 12px;
                    color: #000;
                    margin-top: 5px;
                }
            }
        }

        .footer_card_box {
            display: none;
        }
    }
}

@media (max-width: 606px) {
    .footer_dubl {
        padding: 0;

        .footer_information {
            display: grid;
            grid-template-rows: 80px auto;
            grid-template-columns: 1fr;
            gap: 0;

            .footer_information_nav {
                .footer_information_logo {
                    margin-bottom: 5px;
                }

                .footer_information_desc {
                    display: none;
                }

                .footer_information_nav {
                    display: none;
                }
            }

            .footer_contact {
                justify-self: start;

                .footer_contact_text {
                    font-size: 12px;
                }

                .footer_custom_contact {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .footer_contact_number {
                        display: none;
                    }
                }

                .footer_contact_addres {
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 12px;
                    color: #000;
                    margin-top: 5px;
                    text-align: start;
                }
            }
        }

        .footer_card_box {
            display: none;
        }
    }
}