.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 54px 60px;
    text-decoration: none !important;

    .header_custom {
        display: flex;
        padding: 0 30px;
        align-items: center;
        justify-content: space-between;

        &_nav {
            display: flex;
            align-items: center;
            margin-bottom: 0;

            .header_custom_item:not(last-child) {
                margin-right: 20px;
            }
        }

        &_contact {
            display: flex;
            align-items: center;

            .custom_contact_number {
                margin-right: 20px;
                text-decoration: none;
                color: $black_font_color !important;
            }

            .custom_contact_reqeust {
                padding: 17px 51px;
                background-color: #000;
                font-size: 14px;
                margin-right: 20px;
                color: white;
                text-align: center;
                margin-bottom: 0px;
                text-decoration: none;
            }

            .header_logo_whatsap {
                width: 25px;
                margin-right: 20px;
            }

            .header_logo_telegram {
                width: 25px;
            }
        }
    }

    .header_page {
        display: grid;
        grid-template-columns: 201px auto;
        border-bottom: 1px solid $black_bg_btn_header;
        border-top: 1px solid $black_bg_btn_header;



        &_logo {
            width: 201px;
            height: 52px;
            padding-left: 30px;
            align-self: center;
        }

        .header_pege_nav {
            display: flex;
            justify-content: center;
            align-items: center;

            .for_sale_link {
                margin-right: 30px;
                color: $black_bg_btn_header;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

    .navbar {
        width: 100vw;
        padding-top: 0px !important;
        justify-content: center;
        padding-bottom: 0 !important;
        margin-right: 5vw;
    }

    .navbar-toggler {
        backdrop-filter: blur(4px) !important;
        background-color: rgba(240, 231, 231, 0.37) !important;
        border: none !important;
    }

    .navbar-nav .nav-link {
        color: $black_bg_btn_header !important;
        text-decoration: none !important;
        font-size: 16px !important;
        margin-right: 2vw !important;
    }

    .navbar-brand {
        margin-right: 20vw !important;
    }

}




@media (max-width:998px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 65px;
        height: fit-content;

        .header_custom {
            display: none;
        }

        .header_page {
            .container-fluid {
                padding: 0;
            }

            .navbar-collapse {
                padding: 2vw;
                flex-basis: 100%;
                width: 50vw;
                backdrop-filter: blur(5px);
                background-color: rgba(255, 255, 255, 0.01);
                z-index: 4;

            }
        }


        .navbar-brand {
            margin-right: 1vw !important;
        }

        .navbar {
            width: 100vw;
            padding-top: 0px !important;
            justify-content: center;
            padding-bottom: 0 !important;
            margin-right: 5vw;
        }
    }
}